.background {
    background: linear-gradient(to bottom left, #ff33cc 0%, #0000ff 100%);
    /*background-color: #282c34;*/
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
}

.voco {
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px;
}

.chat {
    height: 600px;
    width: 600px;
    border-radius: 7px;
    margin: auto;
    margin-bottom: auto;
    background-color: #222;
    color: white;
    text-align: left;
}

.card {
    border: 1px solid grey;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    font-size: 11px;
    background-color: dimgrey;
    width: auto;
    height: 85px;
}

/*.buttonSend  {
    border-color: white;
    border-width: 3px;
    background: Transparent;
    color: white;
    margin-left: 450px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight:bold;
    font-family: sans-serif;
    margin-top: 2rem;
    border-style: solid;
}*/

button {
    margin: 10%;
    text-align: center;
}

.buttonSend {
    width: 100px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 33px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.buttonSend:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.buttonSend:focus {
    outline: none;
}








